@import './Vars.sass'

// Defined values
$screen-xs-min: 320px;
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);



@media all and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) 
    //nav
    .Nav
        padding: 40px 15px
        &__wrap
            width: 100%

        &__items
            display: none

    //Header
    .Header
        height: auto
        padding: 0 15px

        &__wrap
             width: 100%
             flex-direction: column

        &__text
            width: 100%
            margin: 50px 0

    //About
    .About
        padding: 80px 15px
        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

    //Team
    .Team
        padding: 80px 15px 140px 15px

        &__title
            width: 100%

        &__wrap
            width: 100%
            justify-items: center

    //Work
    .Work
        padding: 80px 15px

        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))

        &__card
            width: 100%
            height: 265px

            

    //Features
    .Features
        padding: 80px 15px

        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
            justify-items: center

        &__card
            width: 100%
            
    //Contact
    .Contact

        &__img
            padding: 0

        &__title
            width: 100%
            padding: 0 15px

        &__wrap
            width: 100%
            padding: 0 15px
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

        &__form
            padding: 15px

        &__inputs
            flex-direction: column

        &__input
            width: 100%
    //Footer
    .Footer
        padding: 40 15px

        &__wrap
            width: 100%
            flex-direction: column
            justify-content: center

        p
            margin-bottom: 20px

        &__icons
            width: 40%
        
        




//small devices (tablet, notebook)

@media all and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) 
    
    //nav
    .Nav
        padding: 40px 15px

        &__wrap
            width: 100%

    //Header
    .Header
        height: 660px
        padding: 0 15px

        &__wrap
            width: 100%

    .About
        padding: 80px 15px
        
        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

    .Team
        padding: 80px 15px 170px 15px

        &__title
            width: 100%

        &__wrap
            width: 100%
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
            justify-items: center
            grid-gap: 80px
            padding: 0 15px

    .Work
        padding: 80px 15px

        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

    .Whatwedo
        padding: 80px 15px

        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

    
    .Features
        padding: 80px 15px

        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))

    .Contact
        

        &__title
            width: 100%
            padding: 0 15px

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
            padding: 0 15px


    .Footer
        padding: 40px 15px

        &__wrap
            width: 100%

        &__icons
            width: 20%


                

            
            
 

//medium devices (laptop)

@media all and (min-width: $screen-md-min) and (max-width: $screen-md-max) 
    
    //nav
    .Nav
        padding: 40px 15px

        &__wrap
            width: 100%

    //Header
    .Header
        height: 660px
        padding: 0 15px

        &__wrap
            width: 100%

    .About
        padding: 80px 15px
        
        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))

    .Team
        padding: 80px 15px 170px 15px

        &__title
            width: 100%

        &__wrap
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            justify-items: center
            grid-gap: 80px

    .Work
        padding: 80px 15px

        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

    .Whatwedo
        padding: 80px 15px

        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))

    
    .Features
        padding: 80px 15px

        &__title
            width: 100%

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

    .Contact
        

        &__title
            width: 100%
            padding: 0 15px

        &__wrap
            width: 100%
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
            padding: 0 15px


    .Footer
        padding: 40px 15px

        &__wrap
            width: 100%

        &__icons
            width: 20%

//large screen

@media all and (min-width: $screen-lg-min)  
    //nav
    .Nav

        &__wrap
            width: 80%

        &__items
            width: 70%
            display: flex
            justify-content: space-between

    //Header
    .Header
        height: 660px

        &__wrap
             width: 80%

        &__text
            width: 50%

    //About
    .About
        padding: 80px 0

        &__title
            width: 80%

        &__wrap
            width: 80%
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))

    //Team
    .Team
        padding: 80px 0 140px 0

        &__title
            width: 80%

        &__wrap
            width: 80%
            justify-items: center
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))

    //Work
    .Work
        padding: 80px 0

        &__title
            width: 80%

        &__wrap
            width: 80%
            grid-template-columns: repeat(auto-fill, minmax(361px, 1fr))

        &__card
            width: 360px
            height: 265px

    .Whatwedo
        padding: 80px 0

        &__title
            width: 80%

        &__wrap
            width: 80%
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
            

    //Features
    .Features
        padding: 80px 0

        &__title
            width: 80%

        &__wrap
            width: 80%
            grid-template-columns: repeat(auto-fill, minmax(361px, 1fr))

        &__card
            width: 100%
            
    //Contact
    .Contact
        padding: 80px 0

        &__title
            width: 80%
            
        &__wrap
            width: 80%
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr))

        &__form
            position: relative
            top: -150px
            padding: 40px

        &__input
            width: 45%

    //Footer
    .Footer
        padding: 40px 0

        &__icons
            width: 20%

        &__wrap
            width: 80%



